header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

// Image

.mainPic {
    background-color: linear-gradient(var(--color-primary), transparent);
    width: 30rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 0rem;
    border-radius: 10rem 10rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;

}

//  HBH 

.hbh {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

//  Header Socials

.header-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header-socials::after {
    content: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.scroll-down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 1;
}

// Querys

@media screen and (max-width: 900px) {
    header {
        height: 68vh;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header-socials,
    .scroll-down {
        display: none;

    }
}